<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>

<body>
  <div id="questions">
    <p class="subject_line">
      <%= link_to question.subject_line, question %><br>
    </p>
    <p class="description">
      <%= question.description %>
    </p>
    
  </div>


</body>
</html>