<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>

<body>
  <div id="questions">
    <h2 class="subject_line">
      <%= link_to question.subject_line, question %><br>
    </h2>
      <%= simple_format question.description %>
    <p class="description">
      Tags: <%= raw question.tags.map(&:name).map { |t| link_to t, tag_path(t) }.join(', ') %>
    </p>
    
  </div>


</body>
</html>