<%= form_for [@question, @commentable, @comment]  do |f|%>
  <% if @comment.errors.any? %>
  <div>
    <h2> Please correct the following errors.</h2>
    <ul>
      <% @comment.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

 <div>
   <%= f.text_area :content, rows: 8 %>
 </div>
 <div>
   <%= f.submit %>
 </div>
 <% end %>
