<!DOCTYPE html>
<html>
<head>
  <title>campustechhub|%></title>
</head>
<body>
   <div id="comments">
  
     <%= answer.content %>
     <%= link_to "edit", "/questions/#{@question.id}/answers/#{answer.id}/edit" %>
   </div>
</body>
</html>