<div id="questions">
  <%= form_for [@question, @question.answers.build]  do |f| %>
    <%= f.text_area :content %><br><br>
    <%= f.hidden_field :question_id, value: "#{question_id = @question.id}" %>
    <%= f.submit "Your Answer" %>
  <% end %>
  
</div>