<div id="questions">
  <%= form_for @answer, url: question_answer_path, method: :patch do |f| %>
    <%= f.text_area :content, value: "#{@answer.content}"%><br><br>
    <%= f.hidden_field :question_id, value: "#{question_id = @question.id}" %>
    <%= f.submit "Edit Your Answer" %>
  <% end %>
  
</div>