<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
<div>
  <p id="questions">
   <%= @answer.content %>
  </p>
  
    <%= render "comments/comments" %>
    <%= render "comments/form" %>
</div>
</body>
</html>